{% extends "layout.html" %}
{% block content %}

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="page-header">
               <h1>Twitter Word Cloud</h1>
    
                {% if timeline == False %}
                    <p><a href="{{ url_for('twitter_auth') }}">連携アプリ認証</a></p>
                {% else %}
                    <img src="/static/images/output.png" style="margin: 30px;"/>
                    <img src="{{ user_image }}" style="margin: 30px; width: 20%;"/>
                    <img src="/static/images/alice_mask.png" style="margin: 30px;" class="image-alice" />
                    <p style="font-size: 20px;">10 / 100 ツイートを表示中</p>
                    {% for i in range(10) %}
                        <hr align="center">
                        <p>{{ timeline[i].text }}</p>
                    {% endfor %}

                    
                    <a style="margin-top: 50px;" href="{{ url_for('graph2', user_id = timeline[0].user.screen_name) }}" class="under-distance btn btn-lg btn-default">ワードクラウドを見る</a>
                {% endif %}
            </div>

        </div>

    </div>

</div>

{% endblock %}